body {
    font-family: 'Franklin Gothic Medium';
    background: #a10827
}
header {
    background-color: #d41212; /* Темный фон для шапки */
    color: dark-red;           /* Белый текст */
    padding: 20px;          /* Отступы внутри шапки */
    border: none;             /* Без рамки */
    border-radius: 20px 0 20px 0; /* листочек */
    text-align: center;     /* Текст по центру */
    opacity: 0.8; /* Полупрозрачность для шапки */
}
button {
    background-color: #f04848; /* Красный цвет */
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    border: none;
    border-radius: 20px 0 20px 0; /* листочные кнопки */
    cursor: pointer;    /* Чтобы курсор менялся на «ручку» при наведении */
    transition: 0.3s;   /* Плавная анимация */
}

/* Эффект при наведении мышкой */
button:hover {
    background-color: #a04545;
    transform: scale(1.05); /* Кнопка чуть увеличивается */
}

/* Карточка vktrteam для обновления*/
cardvktr {
background-color: #ad2323; /* Темный фон для шапки */
    color: white;           /* Белый текст */
    padding: 20px;          /* Отступы внутри шапки */
    border: none;             /* Без рамки */
    border-radius: 20px 0 20px 0; /* листочек */
    text-align: center;     /* Текст по центру */
    opacity: 0.5; /* Полупрозрачность для шапки */
}

/* Нижняя шапка */
footer {
background-color: #e34666;
    color: white
    border: none;             /* Без рамки */
    border-radius: 20px 0 20px 0; /* листочек */
    text-align: center;     /* Текст по центру */
    opacity: 0.8; /* Полупрозрачность для шапки */
